USE [master]
GO
/****** Object:  Database [PurityScanner]    Script Date: 12/16/2015 6:57:39 PM ******/
CREATE DATABASE [PurityScanner]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PurityScanner', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PurityScanner.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PurityScanner_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\PurityScanner_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PurityScanner].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PurityScanner]
GO
/****** Object:  Table [dbo].[AppMetaData]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppMetaData](
	[app_metadata_id] [int] IDENTITY(1,1) NOT NULL,
	[app_metadata_key] [varchar](250) NULL,
	[value] [varchar](250) NULL,
	[modified_date_time] [date] NULL,
 CONSTRAINT [PK_AppMetaData] PRIMARY KEY CLUSTERED 
(
	[app_metadata_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributesMaster]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributesMaster](
	[attribute_id] [int] IDENTITY(1,1) NOT NULL,
	[attribute_name] [varchar](250) NULL,
	[attribute_image_url] [varchar](250) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_AttributesMaster] PRIMARY KEY CLUSTERED 
(
	[attribute_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AttributeTitles]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AttributeTitles](
	[attribute_title_id] [int] IDENTITY(1,1) NOT NULL,
	[attribute_id] [int] NOT NULL,
	[attribute_title] [varchar](250) NULL,
	[language_id] [int] NOT NULL,
 CONSTRAINT [PK_AttributeTitles] PRIMARY KEY CLUSTERED 
(
	[attribute_title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompanyMissionInformation]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompanyMissionInformation](
	[company_mission_information_id] [int] IDENTITY(1,1) NOT NULL,
	[language_id] [int] NOT NULL,
	[mission_statement] [varchar](5000) NULL,
	[modified_date_time] [date] NULL,
	[video_url] [varchar](250) NULL,
 CONSTRAINT [PK_CompanyMissionInformation] PRIMARY KEY CLUSTERED 
(
	[company_mission_information_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CountryCodeMapping]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryCodeMapping](
	[country_code_id] [int] IDENTITY(1,1) NOT NULL,
	[country_id] [int] NOT NULL,
	[country_code] [varchar](5) NOT NULL,
 CONSTRAINT [PK_CountryCodeMapping] PRIMARY KEY CLUSTERED 
(
	[country_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CountryMaster]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryMaster](
	[country_code] [varchar](5) NOT NULL,
	[country_name] [varchar](250) NULL,
	[country_default_language_id] [int] NOT NULL,
	[country_secondary_language_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_CountryMaster] PRIMARY KEY CLUSTERED 
(
	[country_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LanguageMaster]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LanguageMaster](
	[language_id] [int] IDENTITY(1,1) NOT NULL,
	[language_name] [varchar](250) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_LanguageMaster] PRIMARY KEY CLUSTERED 
(
	[language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductAttributeCountryMapping]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductAttributeCountryMapping](
	[product_attribute_country_mapping_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[attribute_id] [int] NOT NULL,
	[country_code] [varchar](5) NOT NULL,
 CONSTRAINT [PK_ProductAttributeCountryMapping] PRIMARY KEY CLUSTERED 
(
	[product_attribute_country_mapping_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductAttributeValues]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductAttributeValues](
	[product_attribute_value_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[attribute_id] [int] NOT NULL,
	[language_id] [int] NOT NULL,
	[product_attribute_value] [varchar](250) NULL,
	[short_description] [varchar](500) NULL,
	[manifesto_information] [varchar](5000) NULL,
	[last_modified_date_time] [date] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_ProductAttributeValues] PRIMARY KEY CLUSTERED 
(
	[product_attribute_value_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductImages](
	[product_image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[country_code] [varchar](5) NOT NULL,
	[image_url] [varchar](250) NULL,
	[moodstock_image_key] [varchar](250) NULL,
 CONSTRAINT [PK_ProductImages] PRIMARY KEY CLUSTERED 
(
	[product_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductMaster]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductMaster](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](250) NULL,
	[last_modified] [date] NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductScanHistory]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductScanHistory](
	[product_scan_history_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[scanningLocationLattitude] [varchar](250) NULL,
	[scanningLocationLongitude] [varchar](250) NULL,
	[compared_with_product_id] [int] NOT NULL,
	[is_match_found] [bit] NULL,
	[unmatched_prouduct_image_URL] [varchar](250) NULL,
	[datetime] [datetime] NULL,
 CONSTRAINT [PK_ProductScanHistory] PRIMARY KEY CLUSTERED 
(
	[product_scan_history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SecondaryCountryLanguageMapping]    Script Date: 12/16/2015 6:57:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SecondaryCountryLanguageMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[country_code] [varchar](5) NOT NULL,
	[language_id] [int] NOT NULL,
 CONSTRAINT [PK_SecondaryCountryLanguageMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AttributesMaster] ON 

INSERT [dbo].[AttributesMaster] ([attribute_id], [attribute_name], [attribute_image_url], [isActive]) VALUES (1, N'Nitrates (NO3)', NULL, 1)
INSERT [dbo].[AttributesMaster] ([attribute_id], [attribute_name], [attribute_image_url], [isActive]) VALUES (2, N'Sodium', NULL, 1)
INSERT [dbo].[AttributesMaster] ([attribute_id], [attribute_name], [attribute_image_url], [isActive]) VALUES (3, N'Total Mineralization', NULL, 1)
SET IDENTITY_INSERT [dbo].[AttributesMaster] OFF
SET IDENTITY_INSERT [dbo].[AttributeTitles] ON 

INSERT [dbo].[AttributeTitles] ([attribute_title_id], [attribute_id], [attribute_title], [language_id]) VALUES (1, 1, N'Nitrates', 1)
INSERT [dbo].[AttributeTitles] ([attribute_title_id], [attribute_id], [attribute_title], [language_id]) VALUES (2, 2, N'Sodium', 1)
INSERT [dbo].[AttributeTitles] ([attribute_title_id], [attribute_id], [attribute_title], [language_id]) VALUES (3, 3, N'Total Mineralization', 1)
SET IDENTITY_INSERT [dbo].[AttributeTitles] OFF
SET IDENTITY_INSERT [dbo].[CompanyMissionInformation] ON 

SET IDENTITY_INSERT [dbo].[CompanyMissionInformation] OFF
SET IDENTITY_INSERT [dbo].[CountryCodeMapping] ON 

INSERT [dbo].[CountryCodeMapping] ([country_code_id], [country_id], [country_code]) VALUES (1, 1, N'RO')
INSERT [dbo].[CountryCodeMapping] ([country_code_id], [country_id], [country_code]) VALUES (2, 2, N'US')
INSERT [dbo].[CountryCodeMapping] ([country_code_id], [country_id], [country_code]) VALUES (3, 3, N'GB')
SET IDENTITY_INSERT [dbo].[CountryCodeMapping] OFF
INSERT [dbo].[CountryMaster] ([country_code], [country_name], [country_default_language_id], [country_secondary_language_id], [is_active]) VALUES (N'CN', N'China', 4, 2, 1)
INSERT [dbo].[CountryMaster] ([country_code], [country_name], [country_default_language_id], [country_secondary_language_id], [is_active]) VALUES (N'GB', N'United Kingdom', 3, 2, 1)
INSERT [dbo].[CountryMaster] ([country_code], [country_name], [country_default_language_id], [country_secondary_language_id], [is_active]) VALUES (N'JP', N'Japan', 5, 2, 1)
SET IDENTITY_INSERT [dbo].[LanguageMaster] ON 

INSERT [dbo].[LanguageMaster] ([language_id], [language_name], [is_active]) VALUES (1, N'Europian English', 1)
INSERT [dbo].[LanguageMaster] ([language_id], [language_name], [is_active]) VALUES (2, N'American English', 1)
INSERT [dbo].[LanguageMaster] ([language_id], [language_name], [is_active]) VALUES (3, N'Romanian', 1)
SET IDENTITY_INSERT [dbo].[LanguageMaster] OFF
SET IDENTITY_INSERT [dbo].[ProductAttributeCountryMapping] ON 

INSERT [dbo].[ProductAttributeCountryMapping] ([product_attribute_country_mapping_id], [product_id], [attribute_id], [country_code]) VALUES (1, 1, 1, N'RO')
INSERT [dbo].[ProductAttributeCountryMapping] ([product_attribute_country_mapping_id], [product_id], [attribute_id], [country_code]) VALUES (2, 1, 2, N'RO')
INSERT [dbo].[ProductAttributeCountryMapping] ([product_attribute_country_mapping_id], [product_id], [attribute_id], [country_code]) VALUES (3, 1, 3, N'RO')
SET IDENTITY_INSERT [dbo].[ProductAttributeCountryMapping] OFF
SET IDENTITY_INSERT [dbo].[ProductAttributeValues] ON 

GO
SET IDENTITY_INSERT [dbo].[ProductAttributeValues] OFF
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

INSERT [dbo].[ProductImages] ([product_image_id], [product_id], [country_code], [image_url], [moodstock_image_key]) VALUES (1, 1, N'RO', N'http://tnex.wiredviews.com/Images/BORSEC.jpg', N'Bisleri')
INSERT [dbo].[ProductImages] ([product_image_id], [product_id], [country_code], [image_url], [moodstock_image_key]) VALUES (2, 2, N'RO', N'http://tnex.wiredviews.com/Images/BUCOVINA.jpg', N'Bailley')
INSERT [dbo].[ProductImages] ([product_image_id], [product_id], [country_code], [image_url], [moodstock_image_key]) VALUES (3, 3, N'RO', N'http://tnex.wiredviews.com/Images/BUCOVINA.jpg', N'Aquafina')
SET IDENTITY_INSERT [dbo].[ProductImages] OFF
SET IDENTITY_INSERT [dbo].[ProductMaster] ON 

INSERT [dbo].[ProductMaster] ([product_id], [product_name], [last_modified], [is_active]) VALUES (1, N'BORSEC', NULL, 1)
INSERT [dbo].[ProductMaster] ([product_id], [product_name], [last_modified], [is_active]) VALUES (2, N'BUCOVINA', NULL, 1)
INSERT [dbo].[ProductMaster] ([product_id], [product_name], [last_modified], [is_active]) VALUES (3, N'BUCOVINA', NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductMaster] OFF
SET IDENTITY_INSERT [dbo].[SecondaryCountryLanguageMapping] ON 

INSERT [dbo].[SecondaryCountryLanguageMapping] ([ID], [country_code], [language_id]) VALUES (1, N'RO', 2)
INSERT [dbo].[SecondaryCountryLanguageMapping] ([ID], [country_code], [language_id]) VALUES (2, N'US', 2)
INSERT [dbo].[SecondaryCountryLanguageMapping] ([ID], [country_code], [language_id]) VALUES (3, N'GB', 2)
SET IDENTITY_INSERT [dbo].[SecondaryCountryLanguageMapping] OFF
ALTER TABLE [dbo].[CountryMaster] ADD  CONSTRAINT [DF_CountryMaster_country_secondary_language_id]  DEFAULT ((0)) FOR [country_secondary_language_id]
GO
ALTER TABLE [dbo].[AttributeTitles]  WITH CHECK ADD  CONSTRAINT [FK_AttributeTitles_LanguageMaster] FOREIGN KEY([language_id])
REFERENCES [dbo].[LanguageMaster] ([language_id])
GO
ALTER TABLE [dbo].[AttributeTitles] CHECK CONSTRAINT [FK_AttributeTitles_LanguageMaster]
GO
ALTER TABLE [dbo].[CompanyMissionInformation]  WITH CHECK ADD  CONSTRAINT [FK_CompanyMissionInformation_LanguageMaster] FOREIGN KEY([language_id])
REFERENCES [dbo].[LanguageMaster] ([language_id])
GO
ALTER TABLE [dbo].[CompanyMissionInformation] CHECK CONSTRAINT [FK_CompanyMissionInformation_LanguageMaster]
GO
ALTER TABLE [dbo].[CountryMaster]  WITH CHECK ADD  CONSTRAINT [FK_CountryMaster_LanguageMaster] FOREIGN KEY([country_default_language_id])
REFERENCES [dbo].[LanguageMaster] ([language_id])
GO
ALTER TABLE [dbo].[CountryMaster] CHECK CONSTRAINT [FK_CountryMaster_LanguageMaster]
GO
ALTER TABLE [dbo].[ProductAttributeCountryMapping]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeCountryMapping_AttributesMaster] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[AttributesMaster] ([attribute_id])
GO
ALTER TABLE [dbo].[ProductAttributeCountryMapping] CHECK CONSTRAINT [FK_ProductAttributeCountryMapping_AttributesMaster]
GO
ALTER TABLE [dbo].[ProductAttributeCountryMapping]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeCountryMapping_CountryMaster] FOREIGN KEY([country_code])
REFERENCES [dbo].[CountryMaster] ([country_code])
GO
ALTER TABLE [dbo].[ProductAttributeCountryMapping] CHECK CONSTRAINT [FK_ProductAttributeCountryMapping_CountryMaster]
GO
ALTER TABLE [dbo].[ProductAttributeCountryMapping]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeCountryMapping_ProductMaster] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductMaster] ([product_id])
GO
ALTER TABLE [dbo].[ProductAttributeCountryMapping] CHECK CONSTRAINT [FK_ProductAttributeCountryMapping_ProductMaster]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeValues_AttributesMaster] FOREIGN KEY([attribute_id])
REFERENCES [dbo].[AttributesMaster] ([attribute_id])
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_ProductAttributeValues_AttributesMaster]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeValues_LanguageMaster] FOREIGN KEY([language_id])
REFERENCES [dbo].[LanguageMaster] ([language_id])
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_ProductAttributeValues_LanguageMaster]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeValues_ProductMaster] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductMaster] ([product_id])
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_ProductAttributeValues_ProductMaster]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_CountryMaster] FOREIGN KEY([country_code])
REFERENCES [dbo].[CountryMaster] ([country_code])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_CountryMaster]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_ProductMaster] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductMaster] ([product_id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_ProductMaster]
GO
ALTER TABLE [dbo].[ProductScanHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductScanHistory_ProductMaster] FOREIGN KEY([product_id])
REFERENCES [dbo].[ProductMaster] ([product_id])
GO
ALTER TABLE [dbo].[ProductScanHistory] CHECK CONSTRAINT [FK_ProductScanHistory_ProductMaster]
GO
ALTER TABLE [dbo].[ProductScanHistory]  WITH CHECK ADD  CONSTRAINT [FK_ProductScanHistory_ProductMaster1] FOREIGN KEY([compared_with_product_id])
REFERENCES [dbo].[ProductMaster] ([product_id])
GO
ALTER TABLE [dbo].[ProductScanHistory] CHECK CONSTRAINT [FK_ProductScanHistory_ProductMaster1]
GO
ALTER TABLE [dbo].[SecondaryCountryLanguageMapping]  WITH CHECK ADD  CONSTRAINT [FK_SecondaryCountryLanguageMapping_CountryMaster] FOREIGN KEY([country_code])
REFERENCES [dbo].[CountryMaster] ([country_code])
GO
ALTER TABLE [dbo].[SecondaryCountryLanguageMapping] CHECK CONSTRAINT [FK_SecondaryCountryLanguageMapping_CountryMaster]
GO
ALTER TABLE [dbo].[SecondaryCountryLanguageMapping]  WITH CHECK ADD  CONSTRAINT [FK_SecondaryCountryLanguageMapping_LanguageMaster] FOREIGN KEY([language_id])
REFERENCES [dbo].[LanguageMaster] ([language_id])
GO
ALTER TABLE [dbo].[SecondaryCountryLanguageMapping] CHECK CONSTRAINT [FK_SecondaryCountryLanguageMapping_LanguageMaster]
GO
USE [master]
GO
